a {
	text-decoration: none;
}
/* header */
.header {
	height: 58px;
	overflow:hidden;
	border: 0;
	background: url(../img/header_back.png)!important;
}
.header .left {
	float: left;
}
.header .right {
	float: right;
}
/* eo header */



/* footer */
.footer {
	border: 0;
	background-color:#3d3e3e!important;
}
.footer .title {
	text-align: center;
}
.footer a {
	display: inline-block;
	padding: 0.5em;
	color:white;
	text-shadow: 0 0 0;
}

.footer a:visited,.footer a:hover {
	color:white;
}

/* eo footer */




/* media query */
.em20, .em30, .em40, .em50, .em60  { display: none; }
/* .em0 : 0em 부터 19em 까지는 block */
.em0 { display:block; }
/* 320px */
/* .em20 : 20em 부터 29em 까지 block */
@media all and ( min-width: 20em ) {
	.em0, .em30, .em40, .em50, .em60  { display: none; }
	.em20 { display:block;}
}
/* 480px */
@media all and ( min-width: 30em ) {
	.em0, .em20, .em40, .em50, .em60  { display: none; }
	.em30 { display:block;}
}
/* 640px */
@media all and ( min-width: 40em ) {
	.em0, .em20, .em30, .em50, .em60  { display: none; }
	.em40 { display:block;}
}
/* 800px */
@media all and ( min-width: 50em ) {
	.em0, .em20, .em30, .em40, .em60  { display: none; }
	.em50 { display: block; }
}
/* 960px */
@media all and ( min-width: 60em ) {
	.em0, .em20, .em30, .em40, .em50  { display: none; }
	.em60 { display: block; }
}
